.env
.git
.github
.claude
.clawpatch
.cocoindex_code
.serena
.DS_Store

.libs
autom4te.cache
build
modules
libxl-mac
Makefile
Makefile.fragments
Makefile.objects
config.h
config.log
config.nice
config.status
configure
configure.ac
excel.dep
libtool
run-tests.php
*.la
*.lo
*.loT
*.o
*.so
*.dep
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
examples/*.xls
examples/*.xlsx
examples/output*.bin
examples/output_*
