# docker-compose for testing libxl_php8 on different PHP versions
#
# Usage:
#   docker compose build              # build all images (without license)
#   docker compose up php83           # test on PHP 8.3
#   docker compose up php84           # test on PHP 8.4
#
# Build with LibXL license:
#   LIBXL_LICENSE_NAME="First Last" LIBXL_LICENSE_KEY="key" docker compose build
#
# IMPORTANT: Before building, download LibXL from https://www.libxl.com/
# and extract it into the libxl/ directory at the project root.
# For x86-64 libraries on Apple Silicon, Rosetta emulation is used.

services:
  php82:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.2"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}

  php83:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.3"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}

  php84:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.4"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}

  php85:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.5"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}
