# docker-compose для тестирования libxl_php8 на разных версиях PHP
#
# Использование:
#   docker compose build              # собрать все образы (без лицензии)
#   docker compose up php83           # тестирование на PHP 8.3
#   docker compose up php84           # тестирование на PHP 8.4
#
# Сборка с лицензией LibXL:
#   LIBXL_LICENSE_NAME="Имя Фамилия" LIBXL_LICENSE_KEY="ключ" docker compose build
#
# ВАЖНО: Перед сборкой необходимо скачать LibXL с https://www.libxl.com/
# и распаковать в директорию libxl/ в корне проекта.
# Для x86-64 библиотеки на Apple Silicon используется эмуляция через Rosetta.

services:
  php83:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.3"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}

  php84:
    platform: linux/amd64
    build:
      context: .
      args:
        PHP_VERSION: "8.4"
        LIBXL_LICENSE_NAME: ${LIBXL_LICENSE_NAME:-}
        LIBXL_LICENSE_KEY: ${LIBXL_LICENSE_KEY:-}
